
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
	<li><a href="@Url.Action("HelloWorld","Test")">Hello World</a></li>
	<li><a href="@Url.Action("TestField","Test")">Test Field</a></li>
	<li><a href="@Url.Action("HelloWorldServerSide","Test")">Hello World Server Side</a></li>
</ul>