<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>React Js Tests</title>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="~/Scripts/libs/react.js"></script>
	<script src="~/Scripts/libs/react-dom.js"></script>
</head>
<body>
	<div class="content" >
		@RenderBody()
	</div>
	<div class="footer">
		<a href="@Url.Action("Index","Home")">Home</a>
	</div>
</body>
</html>
